* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

span {
    color: var(--main-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
 }

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 45px;
}

.section-title h2 {
    font-size: 2.5rem;
    font-family: 'Poppins' sans-serif;
}

/* About */

.about-text h3 {
    font-size: 25px;
    margin-bottom: 24px;
}

.about-text p {
    font-size: 18px;
    margin-bottom: 24px;
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .skills .skills-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skills-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .skills .skills-item .progress .progress-in {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--main-color);
}

.about .about-content .skills .skills-item {
    margin-bottom: 25px;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skills-item .skills-percent {
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 600;
    line-height: 40px;
}

/* Info item */

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 20px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--second-bg-color);
}

.about .about-content .personal-info .info-item p span {
    margin-left: 0;
}

/* Education */

.about .about-content .education, .about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--second-bg-color);
    padding: 30px 15px;
    border: 1px solid var(--second-bg-color);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--main-color);
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--main-color);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--main-color);
}

/*  */

body {
    background: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

section {
    min-height: 100vh;
    padding: 4rem 6% 2rem;
    margin-right:auto;
    display: block;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover {
    box-shadow: 0 0 1rem  var(--main-color);
}

.footer-icon a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* BREAK POINTS */
@media (max-width:1199px) {

    .section .container {
        padding-top: 70px;
    }

    .aside {
        left: -270px;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section.open {
        left: 270px;
    }

    .section {
        left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}


@media (max-width: 767px) {

    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

     .header .container a.logo {
        font-size: 14px;
        max-width: 100%;
    }

    .about-text p {
        font-size: 15px;
    }

    .about .about-content .personal-info .info-item p {
        font-size: 14px;
    }

    .footer-text p {
        font-size: 14px;
    }

    .footer-icon a {
        padding: 2px;
    }

    .footer-icon a i {
        font-size: 30px;
    }

    .about .about-content .timeline .timeline-title {
        font-size : 16px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--main-color);

    }

    .about .about-content .timeline .timeline-text {
        line-height: 25px;
        font-size: 13px;
        text-align: justify;
        color: var(--text-black-700);
    }
}


@media  (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header .container a.logo {
        font-size: 14px;
        width: 100%;
    }

    .about .about-content .timeline .timeline-title {
        font-size : 16px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--main-color);

    }

    .about .about-content .timeline .timeline-text {
        line-height: 25px;
        font-size: 13px;
        text-align: justify;
        color: var(--text-black-700);
    }
}

@media  (max-width: 365px) {

    .footer {
        flex-direction: column-reverse;
    }

    .footer p  {
        text-align: center;
        margin-top: 2rem;
    }
}


